.half-container{
    float: left;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 7%;
    padding: 1em;
}
.a{
    background: #333;
}
.b{
    background: rgb(150, 67, 67);
}