

<section class="half-container b">

  <div class="row">
    <p style="text-align: center; color:red"> Elige que hacer a continuación </p>
      <div class="col-md-12 text-center">
        <button type="button" class="btn btn-secondary botonera">Secondassssssssssssssssssssssssss ssssssssssssssssss ssssssss sss    ssssry</button> 
        <button type="button" class="btn btn-secondary botonera">Secondary option mas pequeña </button> 
        <button type="button" class="btn btn-secondary botonera">Secondary</button> 
        <button type="button" class="btn btn-secondary botonera">Otra opcion que puede salir o no</button>
      </div>
  </div>
</section>