<div class="container-fluid h-85 w-100"> 
  <div class="health-energy"> 
    <p>
     <span> Energia {{energy}} </span>  <mat-icon style="color:aqua;">flash_on</mat-icon>
     <span>Vida {{health}}  </span>  <mat-icon style="color:red;">favorite</mat-icon> 
   </p> 
   </div>
  
     
     
    <div class="row h-100">
        <div class="col-sm-3 h-100 opciones">
         <app-options
         [stage]="stage"
         (energyModifier)="energyModify($event)"
         (healthModifier)="healthModify($event)"
         (instadeath)="deathForOption($event)"
         ></app-options>
        </div>
        <div class="col-sm-6 h-100">
         <app-text [text] ="stage?.text"> 

         </app-text>
        </div>
        <div class="col-sm-3 h-100">
         <app-map
          [map] = "stage?.mapName"
          [flat] = "stage?.flat"
         ></app-map>
        </div>
      </div>   
</div>

