.a{
    background: #333;
}
.b{
    background: rgb(0, 0, 0);
}

.botonera{
    display:block;
    width: 50%;
    margin-left:auto;
    margin-right: auto;
    margin-top:2%;
    margin-bottom: 2%;
    padding:2%;
    background-color: #8B271F;
    overflow: overlay;
}

.options{
    min-height: 72vh;
}

.disable{
    color: grey;
    background-color: black;
    cursor:not-allowed;
}

.restbutton{
    cursor: cell;
    position:fixed;
    top:20px;
    
}
.restbutton:hover {
    opacity: 0.5 !important;
  }

