.textpanel {
    position: relative;
    
    display: inline-block; /* if you want this container to shrink-to-fit */
}
.textpanel img {
    display: block;
}
.textpanel textarea {
    position: absolute;
    margin-top:40%;
    margin-left: 50%;
    resize:none;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: transparent;
    z-index: 100;
}

.papiroTextarea{
    width:40%;
    height: 40%;
}