
<div class="textpanel">
    <textarea readonly class="form-control papiroTextarea" cols="20" rows="20">
        {{papiro.texto}} 
        Sujeto 1 : Varon, joven. Minuto 16, el individuo empieza a convulsionar de manera muy violenta mientras manteniamos una charla bastante amistosa y de manera normal un minuto antes.  Tras volver con el doctor Ryan, sus uñas habian crecido de forma desproporcionada, atravesandole el curpo por la mitad y matandole en el acto. Tras este imprevisto, consideramos sedar a los individuos antes del proceso. 
        Sujeto 2:  Mujer de mediana edad, su nariz empieza a inflamarse sin control , desfigurandole el rostro e impidiendole la respiracion. El doctor Ryan le efectua una traqueotomia, pero posteriormente se opta por la ejecucion del individuo debido a su inestabilidad. 
        Sujeto 3: Varon, anciano. En el minuto 16 su mandibula empieza a crecer. Se decide aislarle en una camara blindada para observar su comportamiento tras despertarse. Cuando se despierta, el individuo intenta incroporarse de la camilla, el peso de su cabeza produce una rotura de su columna vertebral, quedando pues el sujeto inservible para posteriores pruebas. 
        Sujeto 4: No parece haber sufrido ninguna mutaciona simple vista, pero su pulso vital desciende a 5 por hora, pareciendo practicamente muerto. Se procede a aislarle en una camara blindada. Al despertar, no se observa ningun signo especialmente dañino en el individuo. No responde a ninguna pregunta ni reacciona ante ningun estimulo, pero parece observar la estancia con detenimiento. Un miembro del equipo se aproxima para introducir algo de alimento por la ventanilla, al verle, su lengua atraviesa la propia boca del sujeto, la puerta y la cabeza de nuestro compañero. El equipo de seguridad procede a la neutralizacion del sujeto. 
        Sujeto 5: Mujer, niña. 
        
        Nota X :
        Aproximadamente uno de cada cinco individuos sobrevive a los efectos acelerados del virus, pero no vuelve a ser un humano como lo conociamos. Se vuelven como animales extremadamente violentos y desarrollan la mayoria de los casos algun tipo de mutacion como defensa, el doctor Ryan se pregunta si este tipo de mutaciones podrian controlarse en el futuro y aplicarse a voluntad. 
        Nota X .
         </textarea>

    <img src="assets/img/papirofix.png" class="img-fluid">
</div>