
html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 100px;
  /* bottom = footer height */
  padding: 0px;
  background-color: black; 
  overflow-x: hidden;
  max-height: 100%;
}
.mainColor {
  background-color: black;  
}
p{
  color:blanchedalmond
}
.footer{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow:hidden;
}

